# Ignore Pycharm
.idea/

# Distribution / Packaging
env/
.env

# Django stuff:
*.log

# .DS_Store
*.DS_Store

# sqlite3
**/*.sqlite3
db.sqlite3

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
